body {
    background-color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    padding: 15px;
    color: black;
    font-size: 20px;
}

nav a: hover {
    background-color: white;
    color: red;
}

h1 {
    text-align: center;
}

img {
    width: 50%;
    display: block;
    margin: 50px auto;
    padding: 50px;
}

p {
    background-color: white;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

